body {
	background-image: url(../images/coverimage.jpg);
	color: #271033;
	font-size: 20px;
	padding: 10px;
	background-size: 100%;
}
h1, h2, h3 {
	text-align: center;
	color: #271033;
}
.normal {
	border: 3px solid #000000;
	border-radius: 4px;
	padding: 10px;
	max-width: 90%;
	height: auto;
	display: block;
	margin: auto;
}
.float-right img{
	float: right;
	padding: 5px;
}
.float-left img {
	float: left;
	padding: 5px;
	margin-right: 10px;
}
button {
	padding: 5px;
	margin: 5px;
}
#topbanner {
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#map {
        width: 50%;
        height: 400px;
        background-color: grey;
        margin: 0 auto;
        padding: 10px;
      }
#sameline {
	display: inline-block;
}
span {
	display: inline-block;
}
table {
	margin: 20px;
}
li {
	margin-bottom: 5px;
}
